# all in kaggle_temp
kaggle_temp/
# whats in checkpoints
checkpoints/
cerradata_splitted/
CerraData-4MM/dataset_splitted/
logs/
*.pyc
__pycache__/

__pycache__/dataset.cpython-39.pyc
*.png
*.ckpt
*.yaml
events.*
*.pth

checkpoints_data_splitted/moco_pretrain_resnet34_20251215_185057/training_summary.txt
*.txt
.vscode/settings.json

